include ../checkbox/mixin.pug

mixin model(type)
 section.card(class='model')
   h2.card_title 3d Space
   .card_model
    .card_size
      .model_loader( aria-hidden="true" )
      .chart( class=`model` aria-hidden="true" )
        canvas.model_canvas
