.spaces {
  margin-left: 20px;
}

.spaces_space {
  position: relative;
  width: 300px;
  height: 100px;
  margin-top: 10px;
}

.spaces_dot {
  position: absolute;
  width: 3px;
  height: 3px;
  border: 1px solid oklab(0% 0 0);
  border-radius: 50%;
  box-shadow: 0 0 0 1px oklab(100% 0 0);
  transform: translate(-2px, 2px);
}

.spaces canvas {
  width: 300px;
  height: 100px;
}
