.spaces {
  display: grid;

  @media (max-width: 800px) {
    grid-template-areas:
      "L"
      "C"
      "H";
  }

  @media (min-width: 801px) {
    grid-template-areas:
      "L H"
      "C .";
    gap: 20px;
    width: 650px;
  }
}

.spaces_space {
  position: relative;
  width: var(--space-width);
  height: 150px;

  &.is-l {
    grid-area: L;
  }

  &.is-c {
    grid-area: C;
  }

  &.is-h {
    grid-area: H;
  }
}

.spaces_line {
  position: absolute;
  background: oklch(33% 0 0);
  opacity: 50%;

  &.is-horizontal {
    right: 0;
    left: 0;
    height: 1px;
  }

  &.is-vertical {
    top: 0;
    bottom: 0;
    width: 1px;
  }

  &.is-l.is-horizontal {
    bottom: var(--spaces-l);
  }

  &.is-l.is-vertical {
    left: var(--spaces-l);
  }

  &.is-c.is-horizontal {
    bottom: var(--spaces-c);
  }

  &.is-c.is-vertical {
    left: var(--spaces-c);
  }

  &.is-h.is-horizontal {
    bottom: var(--spaces-h);
  }

  &.is-h.is-vertical {
    left: var(--spaces-h);
  }
}

.spaces_label {
  position: absolute;
  width: 15px;
  height: 15px;
  font-size: 12px;
  text-align: center;

  @nest .spaces_line.is-horizontal & {
    top: -7px;
    right: 100%;
  }

  @nest .spaces_line.is-vertical & {
    top: 100%;
    left: -7px;
  }
}

.spaces canvas {
  width: 100%;
  height: 100%;
}
