.desc
  if LCH
    :markdown-it
      LCH is a new way to encode colors (like hex, RGBA, or HSL):

      - LCH has native browser support.
      - It can encode more colors for modern screens
        (P3, Rec. 2020, and beyond).
      - [Unlike HSL], OKLCH always has predictable contrast
        after color transformation.

      But Lab and LCH have [hue shift] on chroma changes. [Oklab and OKLCH]
      were created to solve this problem.

      [hue shift]: https://lch.okclch.com/#35,90,297,100
      [Oklab and OKLCH]: https://okclch.com/#45.8,0.143,285.98,100
      [Unlike HSL]: https://wildbit.com/blog/accessible-palette-stop-using-hsl-for-color-systems
  else
    :markdown-it
      OKLCH is a new way to encode colors (like hex, RGBA, or HSL):

      - OKLCH has native browser support.
      - It can encode more colors for modern screens
        (P3, Rec. 2020, and beyond).
      - [Unlike HSL], OKLCH always has predictable contrast
        after color transformation.
      - Provides great a11y on palette generation.

      Read [our OKLCH guide](https://evilmartians.com/chronicles/oklch-in-css-why-quit-rgb-hsl).

      [Unlike HSL]: https://wildbit.com/blog/accessible-palette-stop-using-hsl-for-color-systems
      [were created]: https://bottosson.github.io/posts/oklab/#blending-colors
