.desc
  if !LCH
    p OKLCH is a new way to encode colors (like hex, RGBA or HSL).

    ul
      li Has native support in browsers.
      li Can encode more colors for modern screens (P3, Rec2020, and beyond).
      li
        | In contrast with HSL, has always predictable contrast
        | after color transformation.
      li
        | In contrast with LCH and Lab has no hue shift on chroma changes
        | like LCH and Lab have.
      li Works great in accessible palette generators.
