.desc {
  width: fit-content;
  width: var(--card-width);
  padding: 24px var(--main-padding);
  font-size: 10px;
  line-height: 16px;

  @media (width < 830px) {
    padding-bottom: 0;
  }
}

.desc li {
  padding-top: 10px;
}

.desc ul + p {
  padding-top: 10px;
}

.desc a {
  color: inherit;

  &:hover {
    color: var(--accent);
  }

  &:focus {
    text-decoration: none;
    border-radius: 2px;
    outline-offset: 2px;
  }
}
