.desc
  :markdown-it
    OKLCH is a new way to encode colors (like hex, RGBA, or HSL):

    - OKLCH has native browser support.
    - It can encode more colors for modern screens (P3, Rec. 2020, and beyond).
    - [Unlike HSL], OKLCH always has predictable contrast
      after color transformation.
    - In contrast [with LCH and Lab], no [hue shift] on chroma changes.
    - Provides great a11y on palette generation.
    - Lab and LCH was created for solve these problems too,
      but has a problem [hue shift] on chroma changes. OKLab and OKLCH
      [was created] to solve this problem.

    [Unlike HSL]: https://wildbit.com/blog/accessible-palette-stop-using-hsl-for-color-systems
    [was created]: https://bottosson.github.io/posts/oklab/#blending-colors
    [hue shift]: https://lch.evilmartians.io/#35,55,297,100
