nav.mode
  a.mode_link(
    class=!LCH ? 'is-current' : ''
    aria-current=!LCH ? 'page' : false
    href="https://oklch.evilmartians.io"
  ) OKLCH
  a.mode_link(
    class=LCH ? 'is-current' : ''
    aria-current=LCH ? 'is-current' : false
    href="https://lch.evilmartians.io"
  ) LCH
