body {
  --card-width: 340px;
  --card-top-padding: 20px;
  --card-padding: 32px;
  --card-max-height: calc(var(--chart-height) + 168px);

  @media (width <= 404px) {
    --card-width: 100%;
  }
}

.card {
  --current-surface: var(--surface-1);

  position: relative;
  width: var(--card-width);
  padding: var(--card-top-padding) var(--card-padding) var(--card-padding);
  background: var(--current-surface);
  border-radius: 36px;

  @media (width <= 404px) {
    width: auto;
  }
}

.card_title {
  height: 40px;
  margin-bottom: 12px;
  font: inherit;
  font-size: 17.5px;
  font-weight: bold;
  line-height: 40px;
}

.card_number {
  position: absolute;
  inset-inline-end: 32px;
  top: 20px;
  width: 110px;
}

.card_chart {
  position: relative;
  height: calc(var(--chart-height) + 24px);
  padding: 0 20px;
  margin: 0 -20px;
  overflow: hidden;
  transition: height 400ms;

  :is(body.is-chart-hidden) & {
    height: 0;
  }
}

.card_size {
  height: var(--chart-height);
}
