body {
  --card-width: 340px;

  @media (width <= 404px) {
    --card-width: auto;
  }
}

.card {
  --current-surface: var(--surface-1);

  position: relative;
  width: var(--card-width);
  padding: 20px 32px 32px;
  background: var(--current-surface);
  border-radius: 36px;
}

.card_title {
  height: 40px;
  margin-bottom: 12px;
  font: inherit;
  font-size: 17.5px;
  font-weight: bold;
  line-height: 40px;
}

.card_number {
  position: absolute;
  top: 20px;
  right: 32px;
  width: 110px;
}

.card_chart {
  position: relative;
  height: calc(150px + 24px);
  padding: 0 20px;
  margin: 0 -20px;
  overflow: hidden;

  @nest body.was-loaded & {
    transition: height 400ms;
  }

  @nest body.is-chart-hidden & {
    height: 0;
  }
}

.card_model {
  position: relative;
  height: calc(100% + 2px);
  padding: 0 20px;
  padding-bottom: 63px;
  margin: 0 -20px;
  overflow: hidden;

  @nest body.was-loaded & {
    transition: height 400ms;
  }

  @nest body.is-model-hidden & {
    height: 0;
  }
}

.card_size {
  height: 150px;
}
