body {
  --range-color: var(--surface-1);
}

.range {
  position: relative;
  box-sizing: border-box;
  height: 40px;
  border: var(--unavailable-border);
  border-radius: var(--radius);

  &.is-a {
    background: var(--opacity-pattern);
    border: none;
  }
}

.range_space,
.range_gradient {
  position: absolute;
  border-radius: var(--radius);
}

.range_space {
  top: -1px;
  left: -1px;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
}

.range_gradient {
  inset: 0;
  background: linear-gradient(to right, var(--range-a-from), var(--range-a-to));
}

@define-mixin range-thumb {
  appearance: none;
  box-sizing: border-box;
  width: 27px;
  height: 27px;
  cursor: grab;
  background:
    linear-gradient(var(--range-color), var(--range-color)),
    repeating-conic-gradient(
      from 45deg,
      var(--chess) 0% 25%,
      var(--surface-1) 0% 50%
    )
    50% / 5.5px 5.5px;
  border: 4px solid oklch(100% 0 0);
  border-radius: 1px;
  border-radius: 0;
  box-shadow:
    0 1px 6px 0 oklch(18% 0.03 310 / 12%),
    0 0 1px 0.5px oklch(18% 0.03 310 / 12%);
  transform: rotate(45deg) translate(14px, 14px);

  @nest .range.is-invisible & {
    background: var(--current-surface);
    box-shadow:
      inset 0 0 3px 0 oklch(18% 0.03 310 / 12%),
      0 1px 6px 0 oklch(18% 0.03 310 / 12%),
      0 0 1px 0.5px oklch(18% 0.03 310 / 12%);
  }
}

.range_input {
  position: absolute;
  top: -1px;
  left: -13px;
  z-index: 2;
  width: calc(100% + 26px);
  height: calc(100% + 2px);
  cursor: pointer;
  background: transparent;
  border-radius: var(--radius);
  appearance: none;
  outline-offset: 3px -10px;
}

.range_input::-moz-range-thumb {
  @mixin range-thumb;
}

.range_input::-webkit-slider-thumb {
  @mixin range-thumb;
}
