.spaces
  .spaces_space.is-l
    .spaces_line.is-horizontal.is-c
      .spaces_label C
    .spaces_line.is-vertical.is-h
      .spaces_label H
    canvas#spaces-l
  .spaces_space.is-c
    .spaces_line.is-horizontal.is-l
      .spaces_label L
    .spaces_line.is-vertical.is-h
      .spaces_label H
    canvas#spaces-c
  .spaces_space.is-h
    .spaces_line.is-horizontal.is-c
      .spaces_label C
    .spaces_line.is-vertical.is-l
      .spaces_label L
    canvas#spaces-h
