.sample_normal,
.sample_real,
.sample_fallback {
  position: relative;
  height: 84px;
  background: var(--opacity-pattern);
  border-radius: var(--radius);

  &::before {
    position: absolute;
    inset: 0;
    content: "";
    border-radius: var(--radius);
  }
}

.sample_unsupported {
  position: absolute;
  top: 8px;
  right: 0;
  left: 0;
  font-size: 11.25px;
  line-height: 13px;
  color: var(--text-secondary);
  text-align: center;

  @nest .sample.is-supported & {
    display: none;
  }

  @nest .sample.is-out & {
    display: none;
  }
}

.sample_compare {
  display: flex;

  @nest .sample.is-srgb & {
    display: none;
  }
}

.sample_normal {
  @nest .sample:not(.is-srgb) & {
    display: none;
  }
}

.sample_real,
.sample_fallback {
  width: 50%;
}

.sample_normal::before,
.sample_real::before {
  background: var(--sample-real);
}

.sample_real {
  @nest .sample:not(.is-supported) & {
    background: transparent;

    &::before {
      display: none;
    }
  }
}

.sample_fallback::before {
  background: var(--sample-fallback);
}

.sample_note {
  position: absolute;
  padding: 4px 6px;
  font-size: 11.25px;
  line-height: 13px;
  color: var(--text-badge);
  text-transform: capitalize;
  background: var(--surface-badge);
  border-radius: 8px;

  &.is-fallback {
    right: 4px;
    bottom: 4px;
  }

  &.is-space {
    bottom: 4px;
    left: 4px;

    @nest .sample.is-out & {
      display: none;
    }
  }

  &.is-out {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @nest .sample:not(.is-out) & {
      display: none;
    }
  }
}
