.sample
  .sample_normal
  .sample_compare
    .sample_real
      .sample_unsupported Unavailable on this device
      .sample_note.is-out Unavailable
      .sample_note.is-space
    .sample_fallback
      .sample_note.is-fallback fallback
