include ../button/mixin.pug

article.fullmodel.is-hidden( aria-hidden="true" inert )
  h2.title
    = LCH ? 'LCH' : 'OKLCH'
    = ' 3D model'
  .fullmodel_status
  .fullmodel_button
    +button('Back to color picker', 'cross', 'close3d')
  canvas.fullmodel_canvas
  .fullmodel_note Drag to rotate • Scroll to zoom  • Right button to move
