mixin button(text, icon, cls)
  button.button( aria-label=text class=`is-${cls}` type='button' )
    if icon === 'expand'
      include ./expand.svg
    else if icon === 'cross'
      include ./cross.svg
