mixin button(text, icon, cls, hidden=false)
  button.button( title=text class=`is-${cls}` tabindex=hidden ? -1 : undefined )
    if icon === 'expand'
      include ./expand.svg
    else if icon === 'cross'
      include ./cross.svg
