mixin button(text, icon, cls, bemMix)
  button.button( title=text class=`is-${cls} ${bemMix ? bemMix : ''}` )
    if icon === 'expand'
      include ./expand.svg
    else if icon === 'cross'
      include ./cross.svg
