a.source(
  target="_blank"
  href="https://github.com/evilmartians/oklch-picker"
  aria-label="Sources"
)
  .source_github
    include ./github.svg
  .source_external
    include ./external.svg

  | evilmartians / oklch-picker
