.source {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  height: 48px;
  padding: 0 44px;
  font-size: 10px;
  line-height: 48px;
  color: var(--text-primary);
  text-decoration: none;
  background: var(--surface-1);
  border-radius: var(--radius);

  &:hover {
    color: var(--accent);
  }

  @media (width < 830px) {
    width: calc(100% - 64px);
    margin: 0 32px;
  }
}

.source_text {
  @nest .source:hover & {
    text-decoration: underline;
  }
}

.source_github > svg,
.source_external > svg {
  position: absolute;
  top: 15px;
  width: 16px;
  height: 16px;

  & > path {
    fill: var(--text-primary);
  }

  @nest .source:hover & > path {
    fill: var(--accent);
  }
}

.source_github > svg {
  left: 15px;
}

.source_external > svg {
  right: 15px;
}
