.benchmark( aria-live="polite" aria-label="Benchmark" aria-hidden="true" )
  .benchmark_row
    = "Freeze max "
    strong.benchmark_value.is-freeze-max
  .benchmark_row
    = "Freeze sum "
    strong.benchmark_value.is-freeze-sum
  .benchmark_row
    = "Worker max "
    strong.benchmark_value.is-worker-max
  .benchmark_row
    = "Worker sum "
    strong.benchmark_value.is-worker-sum
  .benchmark_row
    = "Paint      "
    strong.benchmark_value.is-paint
