.benchmark( aria-live="polite" aria-label="Benchmark" aria-hidden="true" )
  .benchmark_row
    = "Freeze     "
    strong.benchmark_freeze
  .benchmark_row
    = "Full paint "
    strong.benchmark_full
