.number {
  --number-label: 20px;

  position: relative;
  display: flex;
  width: calc(var(--number-label) + var(--space-width) + 95px);
  height: 40px;
  margin: 10px 0 10px calc(var(--number-label) * -1);
}

.number_label {
  display: flex;
  align-items: center;
  width: var(--number-label);
}

.number_range {
  width: var(--space-width);
}

.number_text {
  width: 90px;
  margin-left: 5px;
}
