.example {
  display: flex;
  width: 300px;
  height: 100px;
  margin: 0 0 20px 20px;
}

.example_rgb,
.example_p3,
.example_p3-no,
.example_unvisible {
  position: relative;
  width: 50%;
  height: 100%;
}

.example_rgb {
  @nest .example.is-rgb & {
    width: 100%;
  }
}

.example_p3,
.example_p3-no,
.example_unvisible {
  display: none;
}

.example.is-p3.is-supported .example_p3 {
  display: block;
}

.example.is-p3.is-unsupported .example_p3-no {
  display: block;
}

.example.is-out .example_unvisible {
  display: block;
}

.example_label {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 14px;
}
