.example
  .example_normal
  .example_compare
    .example_real
      .example_unsupported Unavailable on this device
      .example_note.is-out Unavailable
      .example_note.is-space
    .example_fallback
      .example_note.is-fallback fallback
