.code.is-lch
  +field(LCH ? 'LCH CSS code' : 'OKLCH CSS code', 'o', {
    type: 'text'
  })

.code.is-rgb
  +field('RGB CSS code', 'r', {
    type: 'text'
  })
  .code_note.is-paste
    = `Paste HEX, RGBA, or HSL to convert to ${LCH ? 'LCH' : 'OKLCH'}`
  .code_note.is-fallback.is-hidden
    = `Closest fallback (by chroma) in sRGB`
