.code.is-lch
  +field(LCH ? 'LCH CSS code' : 'OKLCH CSS code', 'o', {
    type: 'text'
  })

.code.is-rgb
  +field('hex/rgba CSS code', 'r', {
    type: 'text',
    options: {
      'hex/rgba': 'Auto hex/rgba',
      'hex': '',
      'rgb': '',
      'hsl': '',
      'p3': '',
      'lch': '',
      'lab': '',
      'oklab': '',
      'numbers': ''
    },
    optionsLabel: 'Change format'
  })
  .code_note.is-paste
    = `Paste HEX, RGBA, or HSL to convert to ${LCH ? 'LCH' : 'OKLCH'}`
  .code_note.is-fallback.is-hidden
    = `Closest fallback (by chroma) in sRGB`
  .code_format
