.code.is-lch
  +field(LCH ? 'LCH CSS code' : 'OKLCH CSS code', 'o', {
    type: 'text'
  })

.code.is-rgb
  +field('hex/rgba CSS code', 'r', {
    type: 'text',
    options: {
      'hex/rgba': 'Auto hex/rgba',
      'hex': '',
      'rgb': '',
      'hsl': '',
      'p3': '',
      'lch': '',
      'lab': '',
      'oklab': '',
      'lrgb': '',
      'numbers': '',
      'figmaP3': ''
    },
    optionsLabel: 'Change format'
  })
  .code_note.is-paste
    = `Paste HEX/RGB/HSL to convert to ${LCH ? 'LCH' : 'OKLCH'}`
  .code_note.is-fallback.is-hidden( aria-hidden="true" )
    = `Closest fallback (by chroma) in sRGB`
  .code_note.is-figma.is-hidden( aria-hidden="true" )
    = 'Use it in Figma with '
    a.code_link( href="https://help.figma.com/hc/en-us/articles/360039825114-Manage-color-profiles-in-design-files#h_01H6Q1C5DK2JMQ8QFQBKEQ6AM0" ) P3 color profile
  .code_format
