.title {
  padding-inline: 12px;
  position: relative;
}

.title_text {
  padding: 28px 0;
  font-size: 17.5px;
  line-height: 20px;
  text-align: center;
}

.title_source {
  position: absolute;
  top: 50%;
  right: 0;
  width: 48px;
  height: 48px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: var(--surface-1);

  &:hover,
  &:focus-visible {
    background: var(--surface-ui-accent);
  }

  @media (width < 830px) {
    right: -50px;
  }

  @media (width < 560px) {
    display: none;
  }

  @media (prefers-color-scheme: dark) {
    & > svg {
      filter: invert(1);
    }
  }
}
