.chart {
  position: relative;
  box-sizing: border-box;
  width: 350px;
  height: 150px;
  cursor: pointer;
  border: var(--unavailable-border);
}

.chart_line {
  position: absolute;
  z-index: 2;
  background: var(--surface-badge);
  opacity: 50%;

  &.is-x {
    right: 0;
    left: 0;
    height: 1px;
  }

  &.is-y {
    top: 0;
    bottom: 0;
    width: 1px;
  }

  &.is-l.is-x {
    bottom: var(--chart-l);
  }

  &.is-l.is-y {
    left: var(--chart-l);
  }

  &.is-c.is-x {
    bottom: var(--chart-c);
  }

  &.is-h.is-y {
    left: var(--chart-h);
  }
}

.chart_label {
  position: absolute;
  width: 15px;
  height: 15px;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;

  @nest .chart_line.is-x & {
    top: -7px;
    left: -15px;
  }

  @nest .chart_line.is-y & {
    top: 100%;
    left: -7px;
  }
}

.chart_canvas {
  position: absolute;
  top: -1px;
  left: -1px;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
}
