@font-face {
  font-family: "Martian Mono";
  font-weight: 100 800;
  font-stretch: 75% 112.5%;
  src: url(./MartianMono-0.9.1.woff2) format("woff2");
  font-display: swap;
}

:root {
  /* Colors */
  --surface-0: oklch(96% 0.005 300);
  --surface-1: oklch(100% 0 0);
  --surface-2: oklch(99% 0 0 / 85%);
  --surface-2-shadow: oklch(0% 0 0 / 6%);
  --surface-ui-regular: oklch(70% 0.05 310 / 18%);
  --surface-ui-accent: oklch(69% 0.17 286 / 20%);
  --surface-ui-danger: oklch(79% 0.18 3 / 20%);
  --surface-badge: oklch(32% 0 0 / 85%);
  --text-primary: oklch(0% 0 0);
  --text-secondary: oklch(54% 0 0);
  --text-badge: oklch(100% 0 0);
  --chess: oklch(94% 0 0);
  --ui-bg: oklch(70% 0.05 310 / 18%);
  --ui-border: oklch(70% 0 0 / 20%);
  --accent: oklch(57% 0.18 286);
  --default-color: oklch(70% 0.1 286);
  --danger: oklch(59% 0.23 7);

  /* Tokens */
  --radius: 12px;
  --opacity-pattern:
    repeating-conic-gradient(var(--chess) 0% 25%, var(--surface-1) 0% 50%)
    50% / 8px 8px;
  --unavailable-border: 1px dashed oklch(60% 0.05 310 / 40%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --surface-0: oklch(0% 0 0);
    --surface-1: oklch(29% 0.01 300);
    --surface-2: oklch(29% 0 0 / 85%);
    --surface-2-shadow: oklch(0% 0 0 / 40%);
    --text-primary: oklch(100% 0 0);
    --chess: oklch(38% 0.01 297);
    --ui-border: oklch(70% 0 0 / 50%);
  }
}

body,
kbd {
  font-family: "Martian Mono", monospace;
  font-size: 15px;
  font-stretch: 112.5%;
}

body {
  --current-surface: var(--surface-0);

  line-height: 16px;
  color: var(--text-primary);
  background: var(--current-surface);
  -webkit-tap-highlight-color: oklch(0% 0 0 / 0);
}

a,
input,
button,
label[tabindex="0"] {
  &:focus {
    outline: var(--accent) solid 3px;
  }

  &:not(:focus-visible):focus {
    outline: none;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition: none !important;
  }
}
