meta( charset="UTF-8" )
meta( name="viewport" content="width=device-width, initial-scale=1.0" )
title= `${LCH ? 'LCH' : 'OKLCH'} Color Picker & Converter`
link( rel="preload" href="./view/base/MartianMono-0.9.1.woff2" as="font" type="font/woff2" crossorigin )
meta( name="color-scheme" content="dark light" )
meta( name="theme-color" content="rgb(242,241,245)" media="(prefers-color-scheme: light)" )
meta( name="theme-color" content="#000" media="(prefers-color-scheme: dark)" )
