main.layout_main.main
  button.main_expand( aria-label="Expand or collapse panel" type="button" )
  .main_row.main_row--sample
    include ../sample/index.pug
  .main_row
    include ../code/index.pug
  .main_row
    include ../mode/index.pug
  footer.main_footer
    | Tool made by <a class="main_link" href="https://sitnik.ru">Andrey Sitnik</a> &
    | <a class="main_link" href="https://twitter.com/romanshamin_en">Roman Shamin</a>
    | from <a class="main_link is-em" href="https://evilmartians.com/">Evil Martians</a>
  a.main_logo( href="https://evilmartians.com/" aria-label="Evil Martians" tabindex="-1" )
    include ./logo.svg
