.main
  h1.main_title
    = `${LCH ? 'LCH' : 'OKLCH'} Color Picker & Converter`
  .main_mode
    include ../mode/index.pug
  .main_sample
    include ../sample/index.pug
  .main_code
    include ../text/index.pug
