.main {
  position: relative;
  width: var(--card-width);
  padding: 24px var(--card-padding) 32px var(--card-padding);
  background: var(--surface-1);
  border-radius: 36px;
}

.main_row {
  margin-top: 24px;

  &:first-child {
    margin-top: 0;
  }
}
