body {
  --main-padding: 32px;

  @media (width >= 1320px) {
    --main-padding: 72px;
  }
}

.main {
  position: relative;
  width: var(--card-width);
  padding: 24px var(--main-padding) 0 var(--main-padding);
  background: var(--surface-1);
  border-radius: 36px;

  @media (width < 830px) {
    box-sizing: border-box;
    width: 100%;
    padding-top: 0;
    border-radius: 36px 36px 0 0;
    box-shadow:
      0 0 2px var(--surface-2-shadow),
      0 0 18px var(--surface-2-shadow);

    @supports (backdrop-filter: blur(24px)) {
      background: var(--surface-2);
      backdrop-filter: blur(24px);
    }
  }
}

.main_expand {
  @media (width >= 830px) {
    display: none;
  }

  @media (width < 830px) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 32px;
    user-select: none;
    background: transparent;
    border: none;
  }
}

.main_expand::before {
  @media (width < 830px) {
    display: block;
    width: 32px;
    height: 4px;
    content: "";
    background: var(--surface-ui-regular);
    border-radius: 2px;
  }
}

.main_row {
  margin-bottom: 24px;
}

.main_footer {
  padding-bottom: 46px;
  font-size: 10px;
  line-height: 16px;
  color: var(--text-secondary);
  text-align: center;
}

.main_link {
  font-weight: bold;
  color: inherit;
  text-decoration: none;

  &:hover,
  &.is-hover {
    color: var(--accent);
    text-decoration: underline;
  }

  &:focus {
    text-decoration: none;
    border-radius: 2px;
    outline-offset: 2px;
  }
}

.main_logo {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 96px;
  height: 38px;
  padding-top: 10px;
  transform: translateX(-50%);

  & > svg {
    width: 100%;
    height: 100%;
  }

  & > svg > path {
    fill: var(--surface-ui-regular);
  }

  &:hover,
  &.is-hover {
    & > svg > path {
      fill: var(--accent);
    }
  }
}
