main.main.layout_main#main-panel
  button.main_expand( aria-label="Toggle panel" type="button" aria-expanded='true' aria-controls="main-panel" )
  .main_row.main_row--sample
    include ../sample/index.pug
  .main_row
    include ../code/index.pug
  .main_row
    include ../mode/index.pug
  footer.main_footer
    | Made at <a class="main_link is-em" href="https://evilmartians.com/devtools" target="_blank">Evil Martians</a>, devtools building consultancy.
    | By <a class="main_link" href="https://sitnik.ru" target="_blank">Andrey Sitnik</a> &
    | <a class="main_link" href="https://twitter.com/romanshamin_en" target="_blank">Roman Shamin</a>
  a.main_logo( href="https://evilmartians.com/devtools" aria-label="Evil Martians" tabindex="-1" target="_blank" )
    include ./logo.svg
