.main {
  position: relative;
  display: grid;
  grid-template:
    "T T"
    "S C"
    / 1fr 1fr;
  gap: 4px;
  padding: 24px var(--card-padding) 32px var(--card-padding);
  background: var(--surface-1);
  border-radius: 0 0 36px 36px;
}

.main_title {
  grid-area: T;
  padding: 12px 0 24px;
  font-size: inherit;
  font-weight: inherit;
}

.main_mode {
  position: absolute;
  top: 24px;
  right: var(--card-padding);
}

.main_sample {
  grid-area: S;
}

.main_code {
  grid-area: C;
}
