main.main.layout_main#main-panel
  button.main_expand( aria-label="Toggle panel" type="button" aria-expanded='true' aria-controls="main-panel" )
  h3.main_title My color guess
  .main_row.main_row--sample
    include ../sample/index.pug
  .main_row
    include ../code/index.pug
