.main {
  position: relative;
  width: var(--card-width);
  padding: 24px 32px 0;
  background: var(--surface-1);
  border-radius: 36px;

  @media (width >= 1320px) {
    padding-right: 72px;
    padding-left: 72px;
  }

  @media (width < 908px) {
    box-sizing: border-box;
    width: 100%;
    padding-top: 0;
    border-radius: 36px 36px 0 0;
    box-shadow:
      0 0 2px var(--surface-2-shadow),
      0 0 18px var(--surface-2-shadow);

    @supports (backdrop-filter: blur(24px)) {
      background: var(--surface-2);
      backdrop-filter: blur(24px);
    }
  }
}

.main_expand {
  @media (width >= 908px) {
    display: none;
  }

  @media (width < 908px) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 32px;
    background: transparent;
    border: none;
  }
}

.main_expand::before {
  @media (width < 908px) {
    display: block;
    width: 32px;
    height: 4px;
    content: "";
    background: var(--surface-ui-regular);
    border-radius: 2px;
  }
}

.main_row {
  margin-bottom: 24px;
}

.main_footer {
  padding-bottom: 46px;
  font-size: 10px;
  line-height: 16px;
  color: var(--text-secondary);
  text-align: center;

  & > a {
    font-weight: bold;
    color: inherit;
    text-decoration: none;

    &:hover {
      color: var(--text-primary);
      text-decoration: underline;
    }
  }
}

.main_logo {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 88px;
  height: 38px;
  transform: translateX(-50%);
}

.main_martian,
.main_human {
  position: absolute;
  bottom: 0;
  width: 44px;

  & > path {
    fill: var(--surface-ui-regular);
  }

  @nest .main_logo:hover & {
    opacity: 85%;
  }
}

.main_martian {
  left: 0;
  height: 38px;

  @nest .main_logo:hover & > path {
    fill: var(--martian);
  }
}

.main_human {
  right: 0;
  height: 34px;

  @nest .main_logo:hover & > path {
    fill: var(--human);
  }
}
