include ../chart/mixin.pug
include ../field/mixin.pug
include ../card/mixin.pug
include ../link/mixin.pug

.layout
  .layout_header
    section.card.is-header
      h1.contest-page-title Guess the 2026 Pantone Color of the Year
      ol.contest-instructions
        li Enter your name and contact info
        li Use the Hue, Chroma, and Lightness sliders to set your color. Narrow screens will need to scroll down to see all 3 sliders.
        li Use the buttons at the bottom to see previous years' colors and to submit your guess.

  .layout_entry
    section.card.is-entry
      h2.card_title My contact info
      .contest-form-wrapper
        .contest_form_row
          label.contest_label Your Name:
            input.contest_input#contest-name(type="text" placeholder="Enter your name" required autocomplete="name")
        .contest_form_row
          label.contest_label Contact Info (email or phone):
            input.contest_input#contest-contact(type="text" placeholder="email@example.com or phone" required autocomplete="email tel")

  include ../main/index.pug

  .layout_l
    +card('l')
  .layout_c
    +card('c')
  .layout_h
    +card('h')
  .layout_extra
    .layout_3d
      +card('3d')
    +card('a')

.bottom-buttons
  h3.bottom-buttons-title Do you like your color?
  button.bottom-btn.see-past-btn#see-past-btn(type="button") See previous years' colors
  button.bottom-btn.submit-btn#contest-submit-bottom(type="button") Submit your guess for 2026
  button.bottom-btn.admin-btn#admin-button(type="button") This button is for Spice

.password-modal#password-modal
  .password-overlay
  .password-panel
    h3 Admin Login
    input.email-input#email-input(type="email" placeholder="Email")
    input.password-input#password-input(type="password" placeholder="Password")
    .password-actions
      button.password-cancel#password-cancel Cancel
      button.password-submit#password-submit Login

.success-modal#success-modal
  .success-panel
    h2 Entry Submitted!
    p Thank you for participating!
    .success-details#success-details
    .success-buttons
      button.success-dismiss#success-dismiss Yay! I'm gonna win! I wonder what the prize is?
      button.success-edit#success-edit PANIC SPIRAL!! I've changed my mind! Plz let me change the color!!
