.layout {
  box-sizing: border-box;
  display: grid;
  align-content: center;
  justify-content: center;
  min-height: 100vh;

  @media (max-width: 800px) {
    grid-template-areas:
      "Title"
      "Example"
      "Code"
      "Scales"
      "Space"
      "Settings";
    padding: 20px;
  }

  @media (min-width: 801px) {
    grid-template-areas:
      "Title    Title"
      "Scales   Example"
      "Scales   Code"
      "Space    Space"
      "Settings Settings";
    padding: 50px;
  }
}

.layout_title {
  grid-area: Title;
}

.layout_example {
  grid-area: Example;
}

.layout_scales {
  grid-area: Scales;
}

.layout_code {
  grid-area: Code;
  margin-bottom: 10px;
}

.layout_space {
  grid-area: Space;
}

.layout_settings {
  grid-area: Settings;
}

.layout_charts {
  display: grid;

  @media (max-width: 800px) {
    grid-template-areas:
      "L"
      "C"
      "H";
  }

  @media (min-width: 801px) {
    grid-template-areas:
      "L H"
      "C .";
    gap: 20px;
    width: 650px;
  }
}

.layout_chart {
  position: relative;

  &.is-l {
    grid-area: L;
  }

  &.is-c {
    grid-area: C;
  }

  &.is-h {
    grid-area: H;
  }
}
