include ../chart/mixin.pug
include ../field/mixin.pug
include ../card/mixin.pug
include ../link/mixin.pug

.layout
  include ../title/index.pug
  include ../main/index.pug
  .layout_links
    +link(
      'help',
      'Why OKLCH is better than ' + (LCH ? 'LCH' : 'RGB') + ' and HSL',
      'https://evilmartians.com/chronicles/oklch-in-css-why-quit-rgb-hsl'
    )
    +link(
      'github',
      'evilmartians / oklch-picker',
      'https://github.com/evilmartians/oklch-picker'
    )

  +card('l', 'layout_l')
  +card('c', 'layout_c')
  +card('h', 'layout_h')
  .layout_extra
    .layout_3d
      +card('3d')
    +card('a')

  include ../settings/index.pug
