include ../chart/mixin.pug
include ../field/mixin.pug
include ../card/mixin.pug
include ../link/mixin.pug

.layout
  .layout_title
    include ../title/index.pug
  include ../main/index.pug
  .layout_links
    +link(
      'help',
      'Why OKLCH is better than ' + (LCH ? 'LCH' : 'RGB') + ' and HSL',
      'https://evilmartians.com/chronicles/oklch-in-css-why-quit-rgb-hsl'
    )
    +link(
      'palette',
      'Build palette with OKLCH and APCA',
      'https://harmonizer.evilmartians.com/'
    )

  .layout_l
    +card('l')
  .layout_c
    +card('c')
  .layout_h
    +card('h')
  .layout_extra
    .layout_3d
      +card('3d')
    +card('a')

  .layout_prefs
    include ../settings/index.pug
