include ../chart/mixin.pug
include ../field/mixin.pug
include ../card/mixin.pug

.layout
  .layout_title
    include ../title/index.pug
  .layout_main
    .layout_panel
      include ../main/index.pug
    .layout_desc
      include ../desc/index.pug

  .layout_l
    +card('l')
  .layout_c
    +card('c')
  .layout_h
    +card('h')
  .layout_a
    +card('a')

  .layout_prefs
    include ../settings/index.pug

  .layout_source
    include ../source/index.pug
