.layout {
  position: relative;
  display: grid;
  gap: 4px;
  width: fit-content;
  margin: 0 auto;

  @media (width < 830px) {
    grid-template:
      "title"
      "L"
      "C"
      "H"
      "alpha"
      "prefs"
      "main"
      "source";
    padding-bottom: 450px;

    @nest body.is-main-collapsed & {
      padding-bottom: calc(450px - 296px);
    }
  }

  @media (width >= 830px) and (width < 1230px) {
    grid-template:
      "title title"
      "main  prefs"
      "main  source"
      "L     C"
      "alpha H";
      padding-bottom: 28px;
  }

  @media (width >= 1230px) {
    grid-template:
      "title title source"
      "main  L     C"
      "main  alpha H"
      "main  prefs H"
      "main  .     .";
  }
}

.layout_title {
  grid-area: title;
}

.layout_main {
  position: relative;
  grid-area: main;
}

.layout_desc {
  @media (width >= 830px) and (width < 1230px) {
    position: absolute;
    bottom: 74px;
    left: calc(100% + 4px);
    width: 100%;
  }
}

.layout_l {
  grid-area: L;
}

.layout_c {
  grid-area: C;
}

.layout_h {
  grid-area: H;
}

.layout_a {
  grid-area: alpha;
}

.layout_model {
  grid-area: O;
}

.layout_prefs {
  grid-area: prefs;
}

.layout_panel {
  @media (width < 830px) {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    transition: transform 300ms cubic-bezier(0.16, 1, 0.3, 1);

    @nest body.is-main-collapsed & {
      transform: translateY(calc(287px + env(safe-area-inset-bottom, 0)));
    }
  }
}

.layout_source {
  grid-area: source;
  line-height: 0;

  @media (width >= 830px) and (width < 1230px) {
    display: flex;
    align-items: flex-end;
  }
}

.model_settings {
  padding: 20px 32px;

  @media (width < 1230px) {
    grid-area: "Ms";
  }
}

.model_loader {
  display: none;
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  margin-left: 90px;
  border: 16px solid var(--surface-ui-regular);
  border-top: 16px solid var(--surface-ui-accent);
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
