include ../chart/mixin.pug
include ../field/mixin.pug
include ../card/mixin.pug
include ../link/mixin.pug

h1.contest-page-title Guess the 2026 Pantone Color of the Year

.layout
  .layout_entry
    .contest-info-panel#contest-info-panel
      .contest-form-wrapper
        h3.contest-info-title Your Entry
        .contest_form_row
          label.contest_label Your Name:
            input.contest_input#contest-name(type="text" placeholder="Enter your name" required autocomplete="name")
        .contest_form_row
          label.contest_label Contact Info (email or phone):
            input.contest_input#contest-contact(type="text" placeholder="email@example.com or phone" required autocomplete="email tel")
      .contest_success#contest-success-msg
        h3 Entry Submitted!
        p Thank you for participating!
        .contest_submitted_info#contest-submitted-info
        button.reset-button#reset-contest(type="button") Next Person

  include ../main/index.pug

  .layout_l
    +card('l')
  .layout_c
    +card('c')
  .layout_h
    +card('h')
  .layout_extra
    .layout_3d
      +card('3d')
    +card('a')

.bottom-buttons
  button.bottom-btn.see-past-btn#see-past-btn(type="button")
    .btn-line See
    .btn-line Past
  button.bottom-btn.submit-btn#contest-submit-bottom(type="button")
    .btn-line Submit
    .btn-line Guess
  button.bottom-btn.admin-btn#admin-button(type="button") Admin

.password-modal#password-modal
  .password-overlay
  .password-panel
    h3 Admin Login
    input.email-input#email-input(type="email" placeholder="Email")
    input.password-input#password-input(type="password" placeholder="Password")
    .password-actions
      button.password-cancel#password-cancel Cancel
      button.password-submit#password-submit Login
