.layout {
  position: relative;
  display: grid;
  gap: 4px;
  width: fit-content;
  margin: 0 auto;

  &.is-hidden {
    display: none;
  }

  @media (width < 830px) {
    grid-template:
      "title"
      "L"
      "C"
      "H"
      "extra"
      "prefs"
      "links";
    padding-bottom: 450px;

    :is(body.is-main-collapsed) & {
      padding-bottom: calc(450px - 287px);
    }
  }

  @media (width >= 830px) and (width < 1230px) {
    grid-template:
      "title title"
      "main  links"
      "main  prefs"
      "main  ."
      "L     C"
      "extra H";
    padding-bottom: 28px;
  }

  @media (width >= 1230px) {
    grid-template:
      "title title title"
      "main  L     C"
      "main  extra H"
      "links extra H"
      "prefs extra H"
      "prefs extra .";
  }
}

.layout_title {
  grid-area: title;
}

.layout_main {
  grid-area: main;

  @media (width < 830px) {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    padding-top: 21px;
    overflow: hidden;
    transition: transform 300ms cubic-bezier(0.16, 1, 0.3, 1);

    :is(body.is-main-collapsed) & {
      transform: translateY(calc(287px + env(safe-area-inset-bottom, 0)));
    }
  }
}

.layout_links {
  position: relative;
  grid-area: links;
}

.layout_l {
  grid-area: L;
}

.layout_c {
  grid-area: C;
}

.layout_h {
  grid-area: H;
}

.layout_extra {
  grid-area: extra;
}

.layout_prefs {
  grid-area: prefs;
}

.layout_3d {
  height: 0;
  overflow: hidden;
  transition: height 400ms;

  &.is-shown {
    height: calc(var(--card-max-height) + 4px);
  }
}
