include ../checkbox/mixin.pug

.settings
  +checkbox('charts', 'Show graphs', true)
  +checkbox('p3', 'Show P3', true)
  +checkbox('rec2020', 'Show Rec2020', false)
  +checkbox('plot3d', 'Show 3D Space', false)
