include ../checkbox/mixin.pug

section.settings( aria-label="Settings" )
  +checkbox('mode3d', 'Show 3D', false)
  +checkbox('charts', 'Show graphs', true)
  +checkbox('p3', 'Show P3', true)
  +checkbox('rec2020', 'Show Rec2020', false)
