include ../checkbox/mixin.pug

section.settings( aria-hidden="true" )
  +checkbox('mode3d', 'Show 3D', false, true)
  +checkbox('charts', 'Show graphs', true, true)
  +checkbox('p3', 'Show P3', true, true)
  +checkbox('rec2020', 'Show Rec2020', false, true)
