.link {
  position: relative;
  box-sizing: border-box;
  display: block;
  max-width: 100vw;
  padding: 31px 55px 31px 72px;
  overflow: hidden;
  font-size: 11.25px;
  line-height: 1;
  color: var(--text-primary);
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: var(--surface-2);
  border-radius: 36px;

  &:hover {
    background: var(--surface-ui-accent);
  }
}

.link::after {
  --link-external-size: 16px;

  position: absolute;
  top: 50%;
  right: 28px;
  width: var(--link-external-size);
  height: var(--link-external-size);
  content: "";
  background: url("./external.svg");
  transform: translateY(-50%);

  @media (prefers-color-scheme: dark) {
    filter: invert(1);
  }
}

.link_icon {
  --link-icon-size: 48px;

  position: absolute;
  top: 50%;
  left: 12px;
  width: var(--link-icon-size);
  height: var(--link-icon-size);
  transform: translateY(-50%);
}

.link.is-github .link_icon {
  @media (prefers-color-scheme: dark) {
    filter: invert(1);
  }
}
