mixin link(icon, text, href)
  a.link( class=`is-${icon}` target="_blank" href=href )
    if icon === 'palette'
      include ./harmonizer.svg
    else if icon === 'help'
      include ./help.svg
    = text
