.sample {
  --sample-real: var(--surface-1);
}

.sample_reader {
  @mixin visual-hidden;
}

.sample_unavailable {
  box-sizing: border-box;
  display: none;
  align-items: center;
  justify-content: center;
  height: 84px;
  padding: 0 8px;
  font-size: 10px;
  line-height: 16px;
  color: var(--text-secondary);
  text-align: center;
  border: var(--unavailable-border);
  border-radius: var(--radius);

  .sample:not(.is-supported) & {
    display: flex;
  }
}

.sample_compare {
  display: grid;
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-flow: column;
  gap: 4px;

  .sample.is-srgb & {
    display: none;
  }
}

.sample_normal,
.sample_real,
.sample_fallback {
  position: relative;
  height: 84px;
  background: var(--opacity-pattern);
  border-radius: var(--radius);

  &::before {
    position: absolute;
    inset: 0;
    content: '';
    border-radius: var(--radius);
  }
}

.sample_normal {
  .sample:not(.is-srgb) & {
    display: none;
  }
}

.sample_real {
  .sample:not(.is-supported) & {
    display: none;
  }
}

.sample_normal::before,
.sample_real::before {
  background: var(--sample-real);
}

.sample_fallback.is-spec::before {
  background: var(--sample-fallback);
}

.sample_fallback.is-browser {
  .sample.is-same-fallback & {
    display: none;
  }

  &::before {
    background: var(--sample-fallback-browsers);
  }
}

.sample_note {
  position: absolute;
  bottom: 4px;
  left: 50%;
  padding: 4px 6px;
  font-size: 11.25px;
  line-height: 13px;
  color: var(--text-badge);
  text-decoration: none;
  white-space: nowrap;
  background: var(--surface-badge);
  border: none;
  border-radius: 8px;
  transform: translateX(-50%);

  &:hover {
    color: var(--surface-badge);
    background: var(--text-badge);
  }

  .sample:not(.is-same-fallback) .sample_fallback & {
    bottom: 3px;
    padding: 3px 4px;
    font-size: 10px;
    line-height: 12px;
  }
}
