.sample.is-srgb
  .sample_reader( aria-live="polite" )
  .sample_normal
  .sample_compare( aria-hidden="false" )
    .sample_unavailable
    .sample_real
      .sample_note P3
    .sample_fallback
      button.sample_note( title="Go fallback color" ) fallback
