.sample.is-srgb
  .sample_normal
  .sample_compare
    .sample_unavailable.is-p3 P3 is unavailable on this device
    .sample_unavailable.is-rec2020 Rec2020 is unavailable on this device
    .sample_unavailable.is-out Unavailable on any device
    .sample_real
      .sample_note P3
    .sample_fallback
      .sample_note fallback
