meta( charset="UTF-8" )
meta( name="viewport" content="width=device-width, initial-scale=1.0" )
title= `${COLOR_FN === '"oklch"' ? 'OKLCH' : 'LCH'} Color Picker`
link( rel="preload" href="https://cdn.evilmartians.com/front/fonts/MartianMono-0.9.1.woff2" as="font" type="font/woff2" crossorigin )
