.field {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  padding: 0 12px;
  color: inherit;
  background: var(--surface-ui-regular);
  border: none;
  border-radius: var(--radius);

  &[type="number"] {
    text-align: right;
  }

  &[aria-invalid] {
    color: var(--text-danger);
    background: var(--surface-ui-danger);

    &:focus {
      outline-color: var(--danger);
    }
  }
}
