name: Preview
on:
  pull_request:
permissions:
  contents: read
  checks: write
  pull-requests: write
  deployments: write
jobs:

  preview:
    name: Preview
    runs-on: ubuntu-latest
    if: github.actor == 'ai'
    steps:
      - name: Notify about new deployment
        uses: bobheadxi/deployments@v1
        id: deployment
        continue-on-error: true
        with:
          step: start
          token: ${{ secrets.GITHUB_TOKEN }}
          ref: ${{ github.head_ref }}
          env: preview-${{ github.event.number }}
      - name: Checkout the repository
        uses: actions/checkout@v3
      - name: Install tools from asdf config
        uses: ai/asdf-cache-action@v1
        with:
          dependencies-cache: production
      - name: Install dependencies
        run: pnpm install --frozen-lockfile --production --ignore-scripts
      - name: Build OKLCH
        run: pnpm build
      - name: Deploy
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: "${{ secrets.GITHUB_TOKEN }}"
          firebaseServiceAccount: "${{ secrets.FIREBASE_OKLCH_ACCOUNT }}"
          projectId: ai-oklch
          expires: 30d
      - name: Update deployment status
        uses: bobheadxi/deployments@v1
        if: always()
        continue-on-error: true
        with:
          step: finish
          token: ${{ secrets.GITHUB_TOKEN }}
          status: ${{ job.status }}
          env: ${{ steps.deployment.outputs.env }}
          env_url: ${{ steps.deploy.outputs.urls }}
          deployment_id: ${{ steps.deployment.outputs.deployment_id }}


