.layout
  .layout_example
    include ../example/index.pug
  .layout_scales
    include ../number/index.pug
  .layout_code
    include ../text/index.pug
  .layout_space
    include ../spaces/index.pug
  .layout_settings
    include ../settings/index.pug
